{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mx-auto bg-dark mt-5 shadow p-3 mb-5 bg-white rounded">

    <div class="container w-50 bg-info shadow p-3 mb-5 rounded">
    <h1>Formateur creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}


    <ul class="nav d-flex justify-content-around">
        <li class="nav-items">
            <input type="submit" value="Create" />
        </li>
        <li class="nav-items">
            <a class="nav-link text-white btn btn-sm btn-dark href="{{ path('formateur_index') }}">Back to the list</a>
        </li>
    </ul>
        {{ form_end(form) }}
    </div>
    </div>
{% endblock %}
